[submodule "3rd_party/glew"]
	path = 3rd_party/glew
	url = https://github.com/omniavinco/glew-cmake
	branch = master
[submodule "3rd_party/glfw"]
	path = 3rd_party/glfw
	url = https://github.com/glfw/glfw
[submodule "3rd_party/glm"]
	path = 3rd_party/glm
	url = https://github.com/g-truc/glm
[submodule "3rd_party/spdlog"]
	path = 3rd_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rd_party/imgui-cmake/imgui"]
	path = 3rd_party/imgui-cmake/imgui
	url = https://github.com/ocornut/imgui
